body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    color: #333;
}

#main, .privacyModule {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; 
}

h1 {
    text-align: center;
    color: #00509e;
    margin-top: 50px; 
}

.ruleSection {
    margin-top: 15px;
    padding: 20px;
    border-radius: 8px;
    background-color: #eaf4fb; 
    border-left: 5px solid #b0d4f1; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.ruleSection:hover {
    background-color: #d9eaf7; 
    transform: translateY(-3px);
}

.moduleSection {
    margin-top: 15px;
    padding: 20px;
    border-radius: 8px;
    background-color: #e3f2fd; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.moduleSection:hover {
    background-color: #bbdefb; 
    transform: translateY(-3px);
}

 .moduleSection h2 {
    margin: 0;
    text-align: center;
}

.ruleSection h2 {
    margin: 0;
    text-align: center;
}

.differentialPrivacyButtons{
    display: flex; 
    justify-content: center; 
    gap: 5px; 
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.backButton {
    position: absolute; 
    top: 10px; 
    right: 10px; 
    margin: auto;
}

.inlineLink {
    background-color: #e3f2fd;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.3s ease;
}

.inlineLink:hover {
    background-color: #bbdefb;
}

input[type=range] {
   appearance: none; 
   -webkit-appearance: none; 
   height: 8px; 
   background-color: #e3f2fd; 
   border-radius: 5px; 
   outline: none; 
   margin: 20px; 
}

input[type=range]::-webkit-slider-thumb {
   appearance: none; 
   -webkit-appearance: none; 
   width: 20px; 
   height: 20px; 
   border-radius: 50%; 
   background-color: #007bff; 
   cursor: pointer; 
}

input[type=range]::-moz-range-thumb {
   width: 20px; 
   height: 20px; 
   border-radius: 50%; 
   background-color: #007bff; 
   cursor: pointer; 
}

label {
    font-weight: bold;
    color: #00509e;
}

label span {
    font-size: 1.2em;
}
